services:
  shairport-sync:
    image: rocka84/shairport-sync-blue:latest
    container_name: shairport-sync-blue
    privileged: true
    restart: on-failure
    volumes:
      - /dev/snd:/dev/snd
      - /dev/bus/usb:/dev/bus/usb
      - ./bluetooth-data:/var/lib/bluetooth
      # - /home/pi/shairport-sync-blue/shairport-sync.conf:/etc/shairport-sync.conf
    network_mode: "host"
    environment:
      BLUETOOTH_SPEAKER: "00:00:00:00:00:00"
      # ALSA_DEVICE: "default:CARD=USB"
    logging:
      options:
        max-size: "200k"
        max-file: "10"
