services:
  shairport-sync:
    image: ghcr.io/rocka84/shairport-sync-blue:2.0.0
    container_name: shairport-sync-blue
    privileged: true
    restart: on-failure
    volumes:
      - /dev/snd:/dev/snd
      - /dev/bus/usb:/dev/bus/usb
      - /var/run/dbus:/var/run/dbus
      - /var/lib/bluetooth:/var/lib/bluetooth
      # - ./shairport-sync.conf:/etc/shairport-sync.conf
    network_mode: "host"
    environment:
      BLUETOOTH_SPEAKER: "00:00:00:00:00:00"
      # ALSA_DEVICE: "default:CARD=USB"
    logging:
      options:
        max-size: "200k"
        max-file: "10"
